*{
    box-sizing: border-box;
    
} 

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #232323;
}

a {
    text-decoration: none;
    color: #232323;
}

h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.04em;
    display: block;
    padding-bottom: 50px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30.8px;
    letter-spacing: 0.04em;
    color: #A52424;
}

.btn {
    border: 1px solid #A52424;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 20px;
}



.greating p {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #101010;
    margin-bottom: 60px;

}


.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu,
.greating,
.about,
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .conteiner {
    margin-top: 150px;
}

.menu nav a {
margin: 15px;
}

.menu > a {
    color: #A52424;
}

figure {
    display: flex;
    flex-direction: column;


    margin: 95px 120px 50px 100px;
}

figcaption {
    color: #A52424;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 50px;

}



.description p {
    padding: 20px 0;


}

.portfolio {
    display: flex;
    justify-content: space-around;
}

.portfolios {
    padding-right: 20px;
}

.portfolios:last-child {
    padding-right: 0;

}

.portfolios h3 {
    color: #101010;
}
.portfolios p {
    padding: 10px 0px 40px 0;
    display: block;
}

.photo {
    width: 278px;
    margin-top: 10px;
} 

.card {
    max-width: 429px;
    width: 500px;
}

.photo-discription {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card b {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #A52424;
    margin: 30px 0 25px;
}

.card span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.price {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price span {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #A52424;
}


.service div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > section > .conteiner {
    position: relative;
}

.shadow {
    z-index: -1;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
}

.shadow-about {
    position: absolute;
    width: 343.47px;
    height: 560.93px;
    left: 21px;
    top: 110px;
}

.shadow-discription {
    position: absolute;
    width: 567.17px;
    height: 330.2px;
    left: 630px;
    top: 365px;
}

.shadow-price {
    position: absolute;
    width: 509px;
    height: 467px;
    left: -20px;
    top: 220px;
}


.shadow-price-two {
    position: absolute;
    width: 509px;
    height: 467px;
    left: 710px;
    top: 220px;
}


.margin-40 {
    margin-top: 40px;
}

.contact-form-main {
    display: flex;
    justify-content: space-between;

}

.contact-form-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;   
}

.contact-form {
    width:  40%;

}
.contact-form img {
    box-shadow: 2px 4px 10px 1px rgba(35, 35, 35, 0.15);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 1px solid lightgray;

    padding: 20px;

    margin: 10px 0;
    resize: none
}

.contact-form button {
    background-color: #FFFFFF;
    color: #A52424;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.photo-position-two {
    position: absolute;
    width: 329px;
    left: 246px;
    top: 100px;
}

.photo-position-one {
    position: absolute;
    width: 285px;
    left: 0;
    top: 153px;
}

footer {
    margin-top: 100px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav img {
    width: 33px;
    height: 33px;
}